<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iWater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51B4DCA0200092C3005A0BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B4DCB6200092C4005A0BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B4DCC1200092C4005A0BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
